@font-face {
    font-family: 'Bahij Janna Bold';
    src: url('BahijJanna-Bold.woff2') format('woff2'),
        url('BahijJanna-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

